pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #aaa;
    padding: 1em 1em;
/*    margin: auto 40px auto 40px;*/
    background: #444;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    color: #aaa;
/*    padding: 1em 1em;*/
    background: #444;
}
input[type=text] {
    width: 300px;
}
input {
    padding: 6px;
    color: #aaa;
    background: #555;
    border: 1px solid #ccc;
}
button, input[type=button], input[type=submit], input[type=reset] {
    border: solid 1px #e1e1e1;
    padding: 6px 12px;
    background-color: #737367;
    color: #A1ACB2;
    margin: 4px 2px;
    cursor: pointer;
}
/*======================
Check Boxes Styles
========================*/

/* Hide the checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* Prepare the label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}

/* Checkboxes aspect */
/* :before is for the box */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 17px; height: 17px; /* dim. of the box */
  border: 1px solid #aaa;
  background: #f8f8f8;
}

/* Check symbol aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* animation incoming */
}
/* if "not checked" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* invisible */
  transform: scale(0); /* scaled down to 0 */
}
/* If "checked" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* visible */
  transform: scale(1); /* scaled up to normal */
}

/* Hide the radio */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

/* Prepare the label */
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}

/* Checkboxes aspect */
/* :before is for the box */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 17px; height: 17px; /* dim. of the box */
  border: 1px solid #aaa;
  border-radius: 100%;
  background: #f8f8f8;
}

/* Check symbol aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  font-size: 14px;
  color: #09ad7e;
  transition: all .2s; /* animation incoming */
}
/* if "not checked" */
[type="radio"]:not(:checked) + label:after {
  opacity: 0; /* invisible */
  transform: scale(0); /* scaled down to 0 */
}
/* If "checked" */
[type="radio"]:checked + label:after {
  opacity: 1; /* visible */
  transform: scale(1); /* scaled up to normal */
}
body, html, input {
    font-family: sans-serif;
    font-size: 11pt;
}
form {
    margin: 20px 0;
}
.question ul {
    list-style-type: none;
}
div.spoiler {
  padding: 0.25em 0.5em;
}
div.spoiler > *:first-child::before {
  content: 'expand_more';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  transition: all .2s; /* animation incoming */
  transform: translateY(5px);
  color: #999;
}
div.spoiler.revealed > *:first-child::before {
    transform: translateY(5px) rotate(-180deg);
}
div.spoiler > *:first-child {
    cursor: pointer;
}
div.spoiler > *:nth-child(n+2) {
    display: block;
    color: #f4f4f4;
    padding: 1em 1em;
/*    margin: auto 40px auto 40px;*/
    background: #555;
    border: solid 1px #e1e1e1
}
div.spoiler:not(.revealed) *:nth-child(n+2) {
    display:none;
}
span.correction_field {
/*    color:#b71540;*/
    margin-left:2em;
 /*   float:right;*/
}

.correction-wrong {
    color: #b71540;
}

.correction-right {
    color: #78e08f;
}
