pre {
    font-size: 90%;
    line-height: 1.2em;
    font-family: "Courier 10 Pitch", Courier, monospace; 
    white-space: pre; 
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -o-pre-wrap; 

    height:1%;
    width: auto;
    display: block;
    clear: both;
    color: #555555;
    padding: 1em 1em;
/*    margin: auto 40px auto 40px;*/
    background: #f4f4f4;
    border: solid 1px #e1e1e1
} 
code { 
    font-size: 90%;
    line-height: 1.2em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

    display: inline;
    color: #555555;
/*    padding: 1em 1em;*/
    background: #f4f4f4;
}
input[type=text] {
    width: 300px;
}
input {
    padding: 6px;
}
body, html, input {
    font-family: sans-serif;
    font-size: 11pt;
}
form {
    margin: 20px 0;
}
.question ul {
    list-style-type: none;
}
div.spoiler {
  padding: 0.25em 0.5em;
}
div.spoiler > *:first-child {
    cursor: pointer;
}
div.spoiler > *:nth-child(n+2) {
    display: block;
    color: #555555;
    padding: 1em 1em;
/*    margin: auto 40px auto 40px;*/
    background: #f4f4f4;
    border: solid 1px #e1e1e1
}
div.spoiler:not(.revealed) *:nth-child(n+2) {
    display:none;
}
span.correction_field {
    color:red;
    margin-left:2em;
 /*   float:right;*/
}
